<%= stylesheet_link_tag 'notifications.css' %>
  
<% if nf[:notification].status == "unread"%>  
  <div class="notification-unread">
      <div class="profile-pic"></div>
      <div class="data">     
        <div class="poster-name">
          <%= link_to nf[:post].job_heading, post_path(nf[:post])%>
        </div>
        <div class="message">
          <%= nf[:notification].message %>
        </div>
      </div>
  </div>
<% else %> 
  <div class="notification-read">
      <div class="profile-pic"></div>
      <div class="data">     
        <div class="poster-name">
          <%= link_to nf[:post].job_heading, post_path(nf[:post])%>
        </div>
        <div class="message">
          <%= nf[:notification].message %>
        </div>
      </div>
  </div>
<% end %>