<%= stylesheet_link_tag 'signup.css' %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "signup") do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <h1>Create account</h1>
  <h2>Already have an account? <span><%= render "devise/shared/links" %></span></h2>

  <div class="field">
    <%= f.label :first_name %><br/>
    <%= f.text_field :f_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br/>
    <%= f.text_field :l_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :username %><br/>
    <%= f.text_field :username, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br/>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="button">
    <%= f.submit "Sign up" %>
  </div>
<% end %>