<tr>
    <td><a href= <%="/profile/#{user.username}"%>><%= user.f_name %> <%= user.l_name %></a></td>
    <td><%= user.email %></td>
    <td><%= user.profile.profession %></td>
    <td><%= user.profile.rating %></td>
</tr>