<%= stylesheet_link_tag 'posts.css' %>

<div class="col-xs-12 show-post-container">
  <div class="col-xs-6">
    <div class="col-xs-12 exp-btn-container pad-0">
      <a id="exp-btn" href="/explore"><img id="arrow-return" src="<%= asset_path('arrow-return') %>" width="20" height="20"> Back to explore</a>
    </div>
    <div class="col-xs-12 pad-0 poster-details">
      <div class="col-xs-2">
        <%= image_tag check_avatar(@user.profile), class: "poster-profile-pic"%>
      </div>

      <div class="col-xs-2 poster-name"><a href=<%="/profile/#{@user.username}"%>><%= @user.f_name%> <%= @user.l_name %></a></div>

      <div class="col-xs-3 posted-date"><%= get_created_at(@post.created_at) %> </div>
      <% if @user.id == current_user.id %>
        <div class="col-xs-1"> <a href=<%= edit_post_path(@post) %>><img id="delete-icon" src="<%= asset_path('edit') %>" width="25" height="25"></a></div>
        <div class="col-xs-2"> <a href=<%="/post/#{@post.id}/delete" %>><img id="delete-icon" src="<%= asset_path('delete') %>" width="25" height="25"></a></div>
      <% end %>
    </div>

    <div class="col-xs-12 heading container">
      <div class="col-xs-12">
        <div class="col-xs-6 pad-0">
          <p>Heading</p>
          <div class="job-heading"> <%= @post.job_heading %> </div>
        </div>
        <div class="col-xs-6">
          <p>Type</p>
          <div class="job-heading"><%= @post.job_type %></div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 description container">
      <div class="col-xs-12">
        <p>Description</p>
      </div>
      <div class="col-xs-12">
        <%= @post.job_description %>
      </div>
    </div>
    <div class="col-xs-12 additional-info container">
        <div class="col-xs-12">
        <p>Additional info</p>
      </div>
      <div class="col-xs-12">
        <%= @post.additional_info %>
      </div>
    </div>

    <div class="col-xs-12 pad-0 stats-container">
      <div class="col-xs-3 pad-0">
        <div class = "stats-container-buttons"><%= get_likes(@post.likes.count) %></div>
      </div>
      <div class="col-xs-3 pad-0">
        <% if @post.comments.count > 0 %>
          <div class = "stats-container-buttons"><%= get_comments_count(@post) %></div>
        <% else %>
          <div class = "stats-container-buttons"><%= "0 comments" %></div>
        <% end %>
      </div>
      <div class="col-xs-3 pad-0"></div>
      <div class="col-xs-3 pad-0">
        <div class = "show-applied-container"><%= @applicants.to_s + " Applied" %></div>
      </div>
    </div>

    <div class="col-xs-12 pad-0 button-container">
      <div class="col-xs-3 pad-0">
        <% if @isLiked == true %>
            <a href=<%="/post/#{@post.id}/unlike" %>><img id="likes-icon" src="<%= asset_path('like') %>" width="30" height="30"></a>
        <% else %>
          <a href=<%="/post/#{@post.id}/like" %>><img id="likes-icon" src="<%= asset_path('unlike') %>" width="30" height="30"></a>
        <% end %>
      </div>

      <div class="col-xs-3 pad-0">
        <div class="button"><img id="comments-icon" src="<%= asset_path('comments') %>" width="30" height="30"></div>
      </div>

      <div class="col-xs-3 pad-0"></div>

      <div class="col-xs-3">
        <% if @isApplied == true %>
          <div class="show-applied-container"><img src="<%= asset_path('applied') %>" width="30" height="30"></div>
        <% else %>
          <a href=<%="/post/#{@post.id}/apply"%>><div class="show-applied-container"><img src="<%= asset_path('apply') %>" width="30" height="30"></div></a>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 pad-0">
      <h2>Leave a comment:</h2>
      <%= render "/comments/form"%>
    </div>
    <div class="col-xs-12 pad-0">
      <% if @post.comments.count > 0 %>
          <div class="container">
              <div class="col-xs-12">
                <h1>Comments</h1>
              </div>
              <div class="col-xs-12">
                <%= render @post.comments, locals:{post: @post}%>
              </div>
          </div>
      <% else %>
        <h2> No comments on this post!</h2>
      <% end %>
    </div>
  </div>
  <div class="col-xs-6">
      <%= render "post/applications/applicants_layout"%>
  </div>
</div>