<%= stylesheet_link_tag 'posts.css' %>

<div class="col-xs-12 post-container">
  <div class="col-xs-12 pad-0 poster-details">
    <div class="col-xs-2">
      <% if post[:poster_profile].image.attached? %>
        <%= image_tag post[:poster_profile].image, class: "poster-profile-pic"%>
      <% else %>
        <img class="poster-profile-pic" src="<%= asset_path('/assets/no-profile-pic.png') %>">
      <% end %>
    </div>

    <div class="col-xs-4 poster-name"><%= post[:poster_user].f_name%> <%= post[:poster_user].l_name %></div>

    <div class="col-xs-4 posted-date"><%= get_created_at(post[:post].created_at) %></div>
    <div class="col-xs-1"> <%= link_to "Edit", edit_post_path(post[:post]) %> </div>
    <div class="col-xs-2"> <%= link_to "Delete", "/post/#{post[:post].id}/delete" %></div>
  </div>
  <div class="col-xs-12 heading container">
    <div class="job-heading col-xs-8"> <%= post[:post].job_heading %> </div>

    <div class="job-type col-xs-4"><%= post[:post].job_type %></div>
  </div>
  <div class="col-xs-12 description container">
  
      <%= post[:post].job_description %>
  </div>
  <div class="col-xs-12 additional-info container">
      <%= post[:post].additional_info %>
  </div>

  <div class="col-xs-12 pad-0 stats-container">
    <div class="col-xs-3 pad-0">
      <div class = "stats-container-buttons"><%= get_likes(post[:post].likes.count) %></div>
    </div>
    <div class="col-xs-3 pad-0">
      <div class = "stats-container-buttons"><%= link_to get_comments_count(post[:post]), "/post/#{post[:post].id}" %></div>
    </div>
    <div class="col-xs-3 pad-0"></div>
    <div class="col-xs-3 pad-0">
      <div class = "applied-container"><%= post[:applicants].to_s + " Applications" %></div>
    </div>
  </div>

  <div class="col-xs-12 pad-0 button-container">
    <div class="col-xs-3 pad-0">
      <% if post[:isLiked] == true %>
          <a href=<%="/post/#{post[:post].id}/unlike" %>><img id="likes-icon" src="<%= asset_path('like') %>" width="30" height="30"></a>
      <% else %>
        <a href=<%="/post/#{post[:post].id}/like" %>><img id="likes-icon" src="<%= asset_path('unlike') %>" width="30" height="30"></a>
      <% end %>
    </div>

    <div class="col-xs-3 pad-0">
      <div class="button"><img id="comments-icon" src="<%= asset_path('comments') %>" width="30" height="30"></div>
    </div>

    <div class="col-xs-3 pad-0"></div>

    <div class="col-xs-3 pad-0">
      <% if post[:isapplied] == true %>
        <div class="applied-button"><img src="<%= asset_path('applied') %>" width="30" height="30"><div style="margin-left: 10px">Applied</div></div>
      <% else %>
        <a href=<%="/post/#{post[:post].id}/apply"%>><div class="apply-button"><img src="<%= asset_path('apply') %>" width="30" height="30"><div style="margin-left: 10px">Apply ?</div></div></a>
      <% end %>
    </div>
  </div>
</div>