<%= stylesheet_link_tag 'posts.css' %>

<div class="col-xs-12 post-container">
  <div class="col-xs-12 pad-0 poster-details">
    <div class="col-xs-2 poster-profile-pic"></div>

    <div class="col-xs-6 poster-name">Ansh Dhiman</div>

    <div class="col-xs-4 posted-date">25th July 2022</div>
  </div>
  <div class="col-xs-12 heading container">
    <div class="job-heading col-xs-8"> <%= post.get_post_heading %> </div>

    <div class="job-type col-xs-4"><%= post.get_post_Type %></div>
  </div>
  <div class="col-xs-12 description container">
      <%= post.get_post_Description %>
  </div>
  <div class="col-xs-12 additional-info container">
      <%= post.get_post_AdditionalInfo %>
  </div>

  <div class="col-xs-12 pad-0 stats-container">
    <div class="col-xs-3 pad-0">
      <div class = "stats-container-buttons">300 likes</div>
    </div>
    <div class="col-xs-3 pad-0">
      <div class = "stats-container-buttons">47 Comments</div>
    </div>
    <div class="col-xs-3 pad-0"></div>
    <div class="col-xs-3 pad-0">
      <div class = "applied-container">50 Applied</div>
    </div>
  </div>

  <div class="col-xs-12 pad-0 button-container">
    <div class="col-xs-3 pad-0">
      <div class="button"><img id="likes-icon" src="<%= asset_path('likes') %>" width="25" height="25"></div>
    </div>

    <div class="col-xs-3 pad-0">
      <div class="button"><img id="comments-icon" src="<%= asset_path('comments') %>" width="25" height="25"></div>
    </div>

    <div class="col-xs-3 pad-0"></div>

    <div class="col-xs-3 pad-0">
      <div class="apply-button"><img id="applied-icon" src="<%= asset_path('applied') %>" width="25" height="25"></div>
    </div>
  </div>
</div>
