<%= stylesheet_link_tag 'posts.css' %>

<div class="col-xs-12 post-container">
  <div class="col-xs-12 pad-0 poster-details">
    <div class="col-xs-2 poster-profile-pic"></div>

    <div class="col-xs-6 poster-name"><%= @user.f_name%> <%= @user.l_name %></div>

    <div class="col-xs-4 posted-date"><%= post[:created_at] %></div>
  </div>
  <div class="col-xs-12 heading container">
    <div class="job-heading col-xs-8"> <%= post[:post].job_heading %> </div>

    <div class="job-type col-xs-4"><%= post[:post].job_type %></div>
  </div>
  <div class="col-xs-12 description container">
      <%= post[:post].job_description %>
  </div>
  <div class="col-xs-12 additional-info container">
      <%= post[:post].additional_info %>
  </div>

  <div class="col-xs-12 pad-0 stats-container">
    <div class="col-xs-3 pad-0">
      <div class = "stats-container-buttons"><%= post[:likes]%></div>
    </div>
    <div class="col-xs-3 pad-0">
      <div class = "stats-container-buttons">47 Comments</div>
    </div>
    <div class="col-xs-3 pad-0"></div>
    <div class="col-xs-3 pad-0">
      <div class = "applied-container">50 Applied</div>
    </div>
  </div>

  <div class="col-xs-12 pad-0 button-container">
    <div class="col-xs-3 pad-0">
      <% if post[:isLiked] == true %>
        <div class="button"><img id="likes-icon" src="<%= asset_path('like') %>" width="30" height="30"></div>
      <% else %>
        <div class="button"><img id="likes-icon" src="<%= asset_path('unlike') %>" width="30" height="30"></div>
      <% end %>
    </div>

    <div class="col-xs-3 pad-0">
      <div class="button"><img id="comments-icon" src="<%= asset_path('comments') %>" width="30" height="30"></div>
    </div>

    <div class="col-xs-3 pad-0"></div>

    <div class="col-xs-3 pad-0">
      <% if post[:applied] == true %>
        <div class="apply-button"><img id="comments-icon" src="<%= asset_path('applied') %>" width="30" height="30"></div>
      <% else %>
        <div class="apply-button"><img id="likes-icon" src="<%= asset_path('apply') %>" width="30" height="30"></div>
      <% end %>
    </div>
  </div>
</div>
