<%= stylesheet_link_tag 'posts.css' %>

<div class="col-xs-12 post-container">
  <div class="col-xs-12 pad-0 poster-details">
    <div class="col-xs-2">
      <%= image_tag check_avatar(post[:poster_user].profile), class: "poster-profile-pic"%>
    </div>

    <div class="col-xs-4 poster-name"><a href=<%="/profile/#{post[:poster_user].username}"%>><%= post[:poster_user].f_name%> <%= post[:poster_user].l_name %></a></div>

    <div class="col-xs-3 posted-date"><%= get_created_at(post[:post].created_at) %></div>
    <% if post[:poster_user].id == current_user.id %>
      <div class="col-xs-1"> <%= link_to "Edit", edit_post_path(post[:post]) %> </div>
      <div class="col-xs-1"> <%= link_to "Delete", "/post/#{post[:post].id}/delete" %></div>
    <% end %>
  </div>
    <a href=<%= "/post/#{post[:post].id}" %>>
      <div class="col-xs-12 heading container">
        <div class="col-xs-12">
          <div class="col-xs-6 pad-0">
            <p>Heading</p>
            <div class="job-heading"> <%= post[:post].job_heading %> </div>
          </div>
          <div class="col-xs-6">
            <p>Type</p>
            <div class="job-heading"><%= post[:post].job_type %></div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 description container">
        <div class="col-xs-12">
          <p>Description</p>
        </div>
        <div class="col-xs-12">
          <%= post[:post].job_description %>
        </div>
      </div>
      <div class="col-xs-12 additional-info container">
          <div class="col-xs-12">
          <p>Additional info</p>
        </div>
        <div class="col-xs-12">
          <%= post[:post].additional_info %>
        </div>
      </div>
    </a>

  <div class="col-xs-12 pad-0 stats-container">
    <div class="col-xs-3 pad-0">
      <div class = "stats-container-buttons"><%= get_likes(post[:post].likes.count) %></div>
    </div>
    <div class="col-xs-3 pad-0">
      <div class = "stats-container-buttons"><%= get_comments_count(post[:post]) %></div>
    </div>
    <div class="col-xs-3 pad-0"></div>
    <div class="col-xs-3 pad-0">
      <div class = "applied-container"><%= post[:applicants].to_s + " Applications" %></div>
    </div>
  </div>

  <div class="col-xs-12 pad-0 button-container">
    <div class="col-xs-3 pad-0">
      <% if post[:isLiked] == true %>
          <a href=<%="/post/#{post[:post].id}/unlike" %>><img id="likes-icon" src="<%= asset_path('like') %>" width="30" height="30"></a>
      <% else %>
        <a href=<%="/post/#{post[:post].id}/like" %>><img id="likes-icon" src="<%= asset_path('unlike') %>" width="30" height="30"></a>
      <% end %>
    </div>

    <div class="col-xs-3 pad-0">
      <div class="button"><img id="comments-icon" src="<%= asset_path('comments') %>" width="30" height="30"></div>
    </div>

    <div class="col-xs-3 pad-0"></div>

    <div class="col-xs-3 pad-0">
      <% if post[:isapplied] == true %>
        <div class="applied-button"><img src="<%= asset_path('applied') %>" width="30" height="30"><div style="margin-left: 10px">Applied</div></div>
      <% else %>
        <a href=<%="/post/#{post[:post].id}/apply"%>><div class="apply-button"><img src="<%= asset_path('apply') %>" width="30" height="30"><div style="margin-left: 10px">Apply ?</div></div></a>
      <% end %>
    </div>
  </div>
</div>