<%= stylesheet_link_tag 'login.css' %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "login") do |f| %>

  <h1>Login</h1>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="button">
    <%= f.submit "Log in" %>
  </div>

  <h2>Are you a new user? <span><%= render "devise/shared/links" %></span></h2>
<% end %>
