<%= stylesheet_link_tag 'header.css' %>

<div class="col-xs-12 header">
    <div class="col-xs-2">
        <a href="/explore"><%= image_tag("/assets/logo.png", class: "app-logo")%></a>
    </div>

    <div class="col-xs-7">
      <%= render "/search/search_bar"%>
    </div>

    <div class="col-xs-3 profile-container">
      <%= image_tag check_avatar(current_user.profile), class: "profile-pic"%>
      <div class="name"><%= current_user.f_name %> <%= current_user.l_name %></div>
    </div>
</div>