<%= stylesheet_link_tag 'explore-main.css' %>

<div class="sidebar"><%= link_to "Explore", "/explore" %></div>
<div class="sidebar"><%= link_to "Dashboard", "/dash_board" %></div>
<div class="sidebar"><%= link_to "Applications", "/application" %></div>
<div class="sidebar"><%= link_to "Settings", "/settings" %></div>
<div class="sidebar"><%= button_to "Logout", destroy_user_session_path, method: :delete%></div>
