<%= stylesheet_link_tag 'dashboard.css' %>

<div class="col-xs-12">
    <div class= "col-xs-3">
    <%= form_for :@profile do |f| %>
        <% if @profile.image.attached? %>
            <%= image_tag @profile.image, class: "dashb-profile-pic"%>
        <% else %>
            <img class="dashb-profile-pic" src="<%= asset_path('/assets/no-profile-pic.png') %>">
        <% end %>
        <%= f.label :image %>
        <%= f.file_field :image %>
        <%= f.submit %>
    <% end %>
    </div>
     <div class= "col-xs-9">
        <%= form_for :@user do |f| %>
            <div class="col-xs-12">
                <div class= "col-xs-5">
                    <%= f.label :name %>
                    <%= @user.f_name + " " + @user.l_name %>
                </div>
                <div class= "col-xs-5">
                    <%= f.label :profession %>
                    <%= @profile.profession %>
                </div>
                <div class= "col-xs-2">
                    <%= f.label :rating %>
                    <%= @profile.rating %>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <%= f.label :total_experience %>
                    <%= @profile.experience %>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <%= f.label :contact_number %>
                    <%= @profile.contact_number %>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <%= f.label :area_of_operation %>
                    <%= @profile.state + ", " + @profile.country %>
                </div>
            </div>
        <% end %>
     </div>
</div>
