<%= stylesheet_link_tag 'newPost.css' %>

<%= form_with model: @profile, url: dash_board_path(@profile), method: :patch, local: true do |f| %>
<h1>Hey <%= current_user.f_name %>, edit the details ?</h1>
  <div class="field">
    <%= f.label :profession %><br>
    <%= f.text_field :profession %>
  </div>

  <div class="field">
    <%= f.label :resume_or_cv_link %><br>
    <%= f.text_field :link %>
  </div>

  <div class="field">
    <%= f.label :contact_number %><br>
    <%= f.text_field :contact_number %>
  </div>

  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>

  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>

  <div class="button">
    <%= f.submit %>
  </div>
<% end %>