<%= stylesheet_link_tag 'explore-main.css' %>

<%# Logo and Search Bar %>
<%= render '/common/header'%>

<%# Filters %>


<%# Sidebar, Feed, Notifications %>
<div class="col-xs-12 content-container">
    <div class="col-xs-3 sidebar-container">
        <%= render '/common/sidebar'%>
    </div>
    <div class="col-xs-6 feed">
        <%= render 'dash_board/form' %>
    </div>
    <div class="col-xs-3">
        <%= render 'components/notifications/notification-tab'%>
    </div>
</div>